body {
    margin: 0;
    font-family: Monospace, serif;
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding-top: 50px; /* Adjust this value to control the offset */
}

#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Keep canvas behind content */
}
.content {
    position: relative;
    gap: 10px;
    z-index: 1; /* Ensure content is above canvas */
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    background: transparent; /* Semi-transparent for readability */
}

/* Extend content height to allow scrolling */
.content-section {
    min-height: 100vh; /* Each section is at least one viewport height */
    gap: 80px;
    display: flex;

}

img {
    border: 5px solid #000000;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(57, 12, 255, 0.3)); /* Blue-to-green gradient */
    opacity: 1;
}

.titles {
    display: grid;
    gap: 15px;
    justify-content: center space-evenly;
    text-align: center;
    font-size: 24px; /* Icon size */

}



.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding : 15px;
}



.social-icons a {
    color: #333; /* Dark color for icons */
    font-size: 24px; /* Icon size */
    transition: color 0.3s ease; /* Smooth hover effect */
    z-index: 1; /* Keep canvas behind content */

}

.social-icons a:hover {
    color: #ae00ff; /* Blue hover effect, adjust to match your theme */
}

.description {
    max-width: 300px;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
}

p {
    font-size: 18px;
    line-height: 1.3;
    text-align: justify;
    text-indent: 50px;
    border-radius: 8px;
    outline: rgba(0,0,0,150) solid 2px;
    padding: 15px;
}

.list {
    font-size: 18px;

}


::-webkit-scrollbar {
  width: 25px;
  padding-right: 50px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}